<!DOCTYPE html>
<html lang="en">
{{ template "header" }}
<body>
    {{ template "nav" }}
    <!-- Body section -->
    <div class="container-fluid text-center">
        <div class="row">
            {{ range . }}
            <div id="tasks">
                {{ .Name }}<a id="indexOpts" href="#">Edit</a><a id="indexOpts" href="#">Delete</a>
            </div>
            {{ end }}
        </div>
    </div>
    {{ template "footer" }}
    <script src="/static/js/index.js"></script>
</body>
</html>